@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  body{
    background-color: cadetblue;
    overflow: hidden;
    margin:0;
    font-family: "Open Sans", sans-serif;
  }

  .card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid black;
    margin: .5rem 0;
    padding: .5rem;
    background-color: chartreuse;
  }
  
  .card:hover {
    background-color:seashell;
  }

.hidein3{
  opacity: 1;
  margin: auto;
  margin-top:10vh;
}
.showin3{
  position:absolute;
  display: none;
}

.container1{
  display: flex;
}
.struktur1{
  min-width: 50vw;
}
.struktur2{
  min-width: 50vw;
}
.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.moneytext{
 font-size: 6rem;
 margin:0;
}

.net{
  transform: rotate(0deg);
}
#btnControl:checked + label > img {
  transform: rotate(100deg);

}
#btnControl {
  display: none;
}
.weeb{
  justify-content: center;
  align-items: center;
  text-align: center;
}